/* @import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
  text-align: center;
  /* font-family: 'Tiro Telugu', serif; */
  font-family: "Raleway",sans-serif;
  color:"white";
    font-size: "200px";
}

*{
  box-sizing: border-box;
}

body{
  overflow: scroll;
  overflow-x: hidden;
}

.overlay{
  opacity:0.80;
  width:100%;
  
  z-index:10;
  /* top:0;
  left:0; */
  /* position:fixed; */
}

.moving-background{
  z-index:-1;
  /* position:absolute; */
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-image: url('./assets/background/parallax-bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: 40% 40%; */
  height:100vh;
  min-height: 800px;
}